@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	/* FONTS */
	--font-sans: Inter, sans-serif;
	--font-sans--font-feature-settings: 'cv11';

	/* DASHBOARD COLORS */
	--color-primary-btn-bg: oklch(55.8% 0.288 302.321);
	--color-primary-btn-hover: oklch(70.2% 0.183 293.541);
	--color-secondary-btn-bg: oklch(21% 0.034 264.665);
	--color-secondary-btn-hover: color-mix(in oklab, var(--color-gray-900) 75%, transparent);
	--color-dark-text: oklch(37.3% 0.034 259.733);
	--color-light-text: oklch(70.7% 0.022 261.325);
	--color-primary: oklch(21% 0.034 264.665);
	--color-light-border: oklch(87.2% 0.01 258.338);
	--color-primary-from: oklch(55.8% 0.288 302.321);
	--color-secondary-to: oklch(70.2% 0.183 293.541);

	/* ANIMATIONS */
	--animate-outterLogoRing: outterLogoRing 0.5s ease-in-out 0.4s;
	--animate-innerLogoRing: innerLogoRing 0.5s ease-in-out 0.2s;
	--animate-logoCircle: logoCircle 0.5s ease-in-out 0s;
	@keyframes outterLogoRing {
		0%,
		100% {
			transform: scale(1);
			fill: #000000;
		}
		50% {
			transform: scale(1.1);
			fill: #a140ff;
		}
	}
	@keyframes innerLogoRing {
		0%,
		100% {
			transform: scale(1);
			fill: #000000;
		}
		50% {
			transform: scale(1.1);
			fill: #a140ff;
		}
	}
	@keyframes logoCircle {
		0%,
		100% {
			transform: scale(1);
			fill: #000000;
		}
		50% {
			transform: scale(1.15);
			fill: #a140ff;
		}
	}
}

input[type='search']::-webkit-search-cancel-button {
	cursor: pointer;
	background-color: #000000;
	filter: grayscale(1);
}

.base {
	background-color: oklch(21% 0.034 264.665) !important;
	color: #ffffff !important;
}

html {
	overflow-y: unset;
	scrollbar-gutter: unset;
}

.loader {
	color: #ffffff;
	font-size: 14px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	transform: translateZ(0);
	animation:
		mltShdSpin 1.7s infinite ease,
		round 1.7s infinite ease;
}

@keyframes mltShdSpin {
	0% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.087em -0.825em 0 -0.42em,
			-0.173em -0.812em 0 -0.44em,
			-0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.338em -0.758em 0 -0.42em,
			-0.555em -0.617em 0 -0.44em,
			-0.671em -0.488em 0 -0.46em,
			-0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.377em -0.74em 0 -0.42em,
			-0.645em -0.522em 0 -0.44em,
			-0.775em -0.297em 0 -0.46em,
			-0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
}

@keyframes round {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (width >= 40rem) {
	html {
		overflow-y: scroll;
		scrollbar-gutter: stable;
	}
}
